<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chek</title>
</head>
<body>
    <nav style="margin-bottom: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <a href="{% url 'sell' %}" style="margin-right: 15px; text-decoration:none; color:#2a7ae2; font-weight:600;">🛒 Sotish</a>
        <a href="{% url 'monitoring' %}" style="text-decoration:none; color:#2a7ae2; font-weight:600;">📊 Monitoring</a>
        <a href="{% url 'history' %}" style="margin-right: 15px; text-decoration:none; color:#2a7ae2; font-weight:600;">🏠 Tarix</a>
    </nav>
    <h1>🧾 Chek</h1>

    {% if sales %}
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>Mahsulot nomi</th>
                    <th>Soni</th>
                    <th>Bir dona narxi (so'm)</th>
                    <th>Umumiy narx (so'm)</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                    <tr>
                        <td>{{ sale.product.name }}</td>
                        <td>{{ sale.quantity_sold }}</td>
                        <td>{{ sale.product.price }}</td>
                        <td>{{ sale.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>🔢 Jami summa: {{ total }} so‘m</h3>

        <p><strong>Sana:</strong> {{ sales.0.sold_at }}</p>
    {% else %}
        <p>Savdo ma'lumotlari topilmadi.</p>
    {% endif %}

    <br>
    <a href="{% url 'sell' %}">🔁 Yana sotish</a>
</body>
</html>
